---
tags: definition, analytics, glossary/data
---
#  Verification
*A process to confirm that a data-cleaning effort was well executed and the resulting data is accurate and reliable*